<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.2.0" targetFramework="net452" />
  <package id="Castle.Windsor" version="3.2.0" targetFramework="net452" />
  <package id="EPiServer.CMS.Core" version="8.11.0" targetFramework="net452" />
  <package id="EPiServer.Framework" version="8.11.0" targetFramework="net452" />
  <package id="EPiServer.Logging.Log4Net" version="1.0.0" targetFramework="net452" />
  <package id="log4net" version="1.2.10" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Moq" version="4.2.1507.0118" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net452" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net452" />
</packages>